<footer class="site-footer h-card">
  <data class="u-url" href="{{ " /" | relative_url }}"></data>

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

    <div class="footer-col-wrapper">
      <!-- <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
            {{ site.author | escape }}
            {%- else -%}
            {{ site.title | escape }}
            {%- endif -%}
          </li>
          {%- if site.email -%}
          <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
        </ul>
      </div> -->

      <!-- <div class="footer-col footer-col-1">
        {%- include social.html -%}
      </div> -->

      <div class="footer-col">
        {{ site.description | escape }}
        <!-- Social Information -->
        <div class="footer-social-media">
          {%- if site.x_username -%}
          Twitter: <a href="https://twitter.com/{{ site.x_username| cgi_escape | escape }}"><span class="username">@{{ site.x_username| escape }}</span></a>
          {%- endif -%}
          <br>
          {%- if site.github_username -%}
          GitHub: <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><span class="username">@{{ site.github_username| escape }}</span></a>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</footer>
